body {
    margin: auto;
    color: #eee;
    background-color: #444;
    font-family: monospace;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: #222;
    background-color: #0cf;
    border: none;
    border-radius: 5px;
    line-height: 0;
}

button:active {
    background-color: #5d8aa8;
}

input {
    width: 90%;
    border-radius: 5px;
}

.wrapper {
    display: flex;
}

@media screen and (max-width: 800px) {
    aside {
        display: none;
    }
}

.header {
    margin: 10px 20px 0 10px;
    position: sticky;
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #444;
}

.logo-container img {
    flex: 4;
    max-width: 50%;
    object-fit: cover;
}

.header-buttons {
    flex: 1;
    text-align: right;
    margin: 5px;
}

.refresh-button {
    text-align: right;
    padding: 5px;
    margin-right: 20px;
}

.menu-button {
    width: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .menu-button {
        display: none;
    }
}

main {
    flex: 3;
    display: flex;
    justify-content: center;
    margin: auto;
}

aside {
    flex: 1;
    background-color: #fff;
}

main,
aside {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.side-list {
    line-height: 2;
    text-align: left;
    padding: 5px;
    background-color: #222;
}

.feed-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-list {
    margin-top: -10px;
    max-width: 90vw;
}

.entry-block {
    margin: 0 auto 20px auto;
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
}

.entry-title {
    font-size: 1.5em;
    flex: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.entry-buttons {
    text-align: right;
}

.entry-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.entry-updated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entry-divider {
    color: #0cf;
}

.entry-description {
    display: flex;
}

.entry-thumbnail {
    flex: 2;
    max-width: 20vw;
    max-height: 4em;
    overflow: hidden;
}

.entry-thumbnail img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.entry-text {
    flex: 3;
    max-width: 50vw;
    height: 4em;
    line-height: 1.3em;
    color: #ccc;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}

.login-form {
    text-align: center;
    margin: 40px auto 0 auto;
    width: 50%;
}

#toast-container>div {
    opacity: 1 !important;
    border: none !important;
    box-shadow: none !important;
}

.edit-textarea-wrapper {
    text-align: center;
    margin: 50px auto;
}

.edit-textarea {
    width: 80%;
    height: 80%;
    max-height: 80%;
    resize: none;
}

.edit-button {
    width: 30%;
}