body {
    margin: auto;
    background-color: #5ac3b0;
    font-family: san-serif;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: #666;
    background-color: #f7cd46;
    border: none;
    border-radius: 5px;
}

input {
    width: 90%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.wrapper {
    display: flex;
}

@media screen and (max-width: 800px) {
    aside {
        display: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f7cd46;
    position: sticky;
    top: 0;
}

.logo-container img {
    flex: 4;
    padding: 5px;
}

.header-buttons {
    flex: 1;
    text-align: right;
    margin: 5px;
}

.refresh-button {
    text-align: right;
    padding: 5px;
    margin-right: 20px;
}

.close-button {
    text-align: right;
    padding: 5px;
}

.menu-button {
    padding: 5px;
}

@media screen and (min-width: 800px) {
    .menu-button {
        display: none;
    }
}

main {
    flex: 3;
    margin: auto;
}

aside {
    flex: 1;
    background-color: #fff;
}

main,
aside {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.side-list {
    font-size: 0.9em;
    line-height: 2;
    text-align: left;
    padding: 5px;
    background-color: #fff;
}

.feed-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-list {
    margin-top: -10px;
    max-width: 90vw;
}

.entry-block {
    margin: 0 auto 20px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.entry-title {
    font-weight: bolder;
    flex: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.entry-buttons {
    text-align: right;
}

.entry-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.entry-updated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entry-divider {
    color: #fc4a1a;
}

.entry-description {
    display: flex;
}

.entry-thumbnail {
    flex: 2;
    max-width: 20vw;
    max-height: 4em;
    overflow: hidden;
}

.entry-thumbnail img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.entry-text {
    flex: 3;
    font-size: 0.8em;
    max-width: 50vw;
    height: 4em;
    line-height: 1.3em;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}